body{
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #f0ebe0, #fafaf7);
}

/* NAVBAR */

.navbar{
    background: #1a2e4a;
    padding: 18px 25px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #b8962e
}

/* CONTADOR */

.contador{
    margin: 20px 25px 0 25px;
    background: white;
    padding: 12px 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-left: 4px solid #b8962e;
    font-weight: 600;
    color: #333;
}

.contador span{
    color: #b8962e;
    font-size: 20px;
    font-weight: 700;
}

.logo{
    font-size: 22px;
    font-weight: bold;
    color:#f5f7fa;
}

/* MENU LATERAL */

.menu{
    list-style: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background: #333;
    padding-top: 80px;
    transform: translateX(100%);
    transition: 0.4s;
}

.menu li{
    opacity: 0;
    transform: translateX(50px);
    transition: 0.4s;
}

.menu li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 30px;
    transition: 0.3s;
}

.menu li a:hover{
    color: #b8962e;
    padding-left: 38px; /* desloca levemente pra dar sensação de movimento */
}

.menu.active{
    transform: translateX(0);
}

.menu.active li{
    opacity: 1;
    transform: translateX(0);
}

.menu.active li:nth-child(1){ transition-delay: 0.1s }
.menu.active li:nth-child(2){ transition-delay: 0.2s }
.menu.active li:nth-child(3){ transition-delay: 0.3s }

/* OVERLAY */

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}

.overlay.active{
    opacity: 1;
    pointer-events: all;
}

/* BOTÃO HAMBURGUER */

.menu-toggle{
    width: 30px;
    cursor: pointer;
}

.menu-toggle span{
    display: block;
    height: 3px;
    background: white;
    margin: 6px 0;
    transition: 0.4s;
}

.menu-toggle.active span:nth-child(1){
    transform: rotate(45deg) translate(5px,5px);
}

.menu-toggle.active span:nth-child(2){
    opacity: 0;
}

.menu-toggle.active span:nth-child(3){
    transform: rotate(-45deg) translate(7px,-6px);
}

/* CONTAINER BOTÕES */

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 25px;
}

/* BOTÕES */
button{
    padding: 12px 22px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    min-width: 100px;
    font-weight: 600;
    background: #eae6df;
    border-bottom: 1px solid #c9c3b8;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
    transition: 0.3s, transform 0.2s; /* ficou a melhor versão */
}

button:hover{
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.25);
    border-bottom: 3px solid #b8962e;
}


/* CORES */

.ciano { background: #5bc4bf; }
.verde { background: #4caf78; }
.amarelo { background: #e6b84a; }
.vermelho { background: #c0392b; color: white; }

/* LEGENDA */

.legenda{
    border-left: 4px solid #b8962e;
    margin: 20px;
    background: white;
    padding: 15px 20px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
}

.cor{
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

/* CRONÔMETRO */

.cronometro{
    border-top: 4px solid #b8962e;
    background: white;
    padding: 30px;
    margin: 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.cronometro h2{
    font-size: 55px;
    font-weight: 700;
    color: #222;
    font-family: 'Courier New', Courier, monospace;
}

.botoes-crono button{
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.botoes-crono button:hover{
    border-bottom: 3px solid #b8962e;
}